---
layout: default
section_id: about
skills:
  - title: B2B IT & BUSINESS CONSULTING  
    <!-- percent: 84 -->
  - title: NEXT-GENERATION DIGITAL SERVICES 
    <!-- percent: 95 -->
  - title: SOFTWARE SOLUTIONS
    <!-- percent: 70 -->
  - title:  DIGITAL MARKETING & SEO
    <!--     percent: 61 -->

founders:
  - name: Aslan Varoqua 
    position: FOUNDER & CHIEF EXECUTIVE OFFICER
    avatar: images/ceo.png
    socials:
      - icon_class: fa fa-twitter
        url: http://github.com/aslanvaroqua
      - icon_class: fa fa-facebook
        url: http://facebook.com/aslanvaroqua
      - icon_class: fa fa-tumblr
        url: http://tumblr.com
    desc: DENVER, CO & BOCA RATON, FL
    desc2: I spent a bit over a decade in tech & related industry where I held a diverse set of professional and executive positions. I spend my time between homes in Boca Raton, FL and Denver, CO where I conduct business. 


members:
  - name: Colin Bell
    position: CHIEF TECHNOLOGY OFFICER
    avatar: images/cto.jpg
    socials:
      - icon_class: fa fa-twitter
        url: http://twitter.com
      - icon_class: fa fa-facebook
        url: http://facebook.com
      - icon_class: fa fa-tumblr
        url: http://tumblr.com
    desc: DENVER, COLORADO 
    desc2:
  - name: Daniel Veira 
    position: CHIEF OPERATIONS OFFICER
    avatar: images/coo.jpg
    socials:
      - icon_class: fa fa-twitter
        url: http://twitter.com
      - icon_class: fa fa-facebook
        url: http://facebook.com
      - icon_class: fa fa-dribbble
        url: http://dribbble.com
    desc: MIAMI, FLORIDA 

advisors:
  - name: David Lieberman
    position: SENIOR EXECUTIVE ADVISOR 
    avatar: 
    socials:
    desc: BOCA RATON, FLORIDA 
---
<div class='full'>
  <div class='row'>
    <div class='medium-6 columns'> 
      <h3>Corporate Information</h3>
      <div class='spacing'></div>

      <p>  

DUAS Americas Inc is a for-profit c-corporation with articles of incorporation filed with  the Florida Department of State. <br><br>
The company headquarters were moved from Boca Raton, FL to Denver, Colorado in early 
February 2018. <br><br>
<strong> </strong>


      </p>
    </div>
    <div class='medium-6 columns'>
      <h3> DUAS DOES...</h3>
      <div class='spacing'></div>
      <div class='mod modBarGraph'>
        <ul class="bars">
          {% for skill in page.skills %}
            <li>
              <h4 style=''>
                {{skill.title}}
              </h4>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
<hr>
<div class='row'>

  <div class='large-12 columns'>
    <h3>C-SUITE</h3>
    <div class='spacing'></div>
  </div>
</div>
<div class='row'>
  {% for member in page.founders %}
    <div class='large-6 columns'>
      <div class='mod modTeamMember style-2'>
        <div class='member'>
          <img class="avatar" alt="" src="{{site.url}}/{{member.avatar}}" />
        </div>
        <h3>{{member.name}}</h3>
        <p class='position'>{{member.position}}</p>
        <p>{{member.desc}}</p>
        <p>{{member.desc2}}</p>
        <div class='two spacing'></div>
      </div>
    </div>
  {% endfor %}
</div>
<div class='two spacing'></div>
<div class='row'>
  <div class='large-12 columns'>
    <h3>Corporate Officers</h3>
    <div class='spacing'></div>
  </div>
</div>
<div class='row'>
  {% for member in page.members %}
    <div class='small-6 medium-3 large-3 columns'>
      <div class='mod modTeamMember style-2'>
        <div class='member'>
          <img class="avatar" alt="" src="{{site.url}}/{{member.avatar}}" />
        </div>
        <h3>{{member.name}}</h3>
        <p class='position'>{{member.position}}</p>
        <p>{{member.desc}}</p>
        <p>{{member.desc2}}</p>
        <div class='two spacing'></div>
      </div>
    </div>
  {% endfor %}
  <div class="small-6 medium-3 large-3 columns">

    </div>
  <div class="small-6 medium-3 large-3 columns">

    </div>
</div>
<div class='row'>
  <div class='large-12 columns'>
    <h3>SENIOR ADVISORS</h3>
    <div class='spacing'></div>
  </div>
</div>
<div class='row'>
  {% for member in page.advisors  %}
    <div class='small-6 medium-3 large-3 columns'>
      <div class='mod modTeamMember style-2'>
        <div class='member'>
        </div>
        <h3>{{member.name}}</h3>
        <p class='position'>{{member.position}}</p>
        <p>{{member.desc}}</p>
        <div class='two spacing'></div>
      </div>
    </div>
  {% endfor %}
</div>
<div class='three spacing'></div>
