---
layout: default
section_id: about
skills:
  - title: business & technology Consulting
    <!-- percent: 84 -->
  - title: network & data security
    <!-- percent: 95 -->
  - title: software solutions
    <!-- percent: 70 -->
  - title: Digital Marketing & SEO
    <!--     percent: 61 -->
members:
  - name: Aslan Varoqua 
    position: Chief Executive Officer
    avatar: images/ceo.png
    socials:
      - icon_class: fa fa-twitter
        url: http://github.com/aslanvaroqua
      - icon_class: fa fa-facebook
        url: http://facebook.com/aslanvaroqua
    desc: Denver, Colorado
  - name: Saanvi Badami
    position: Chief Business Officer
    avatar: images/cso.jpg
    socials:
      - icon_class: fa fa-twitter
        url: http://twitter.com
      - icon_class: fa fa-facebook
        url: http://facebook.com
    desc: Denver, Colorado
  - name: Daniel Veira 
    position: Chief Operations Officer
    avatar: images/coo.jpg
    socials:
      - icon_class: fa fa-twitter
        url: http://twitter.com
      - icon_class: fa fa-facebook
        url: http://facebook.com
      - icon_class: fa fa-dribbble
        url: http://dribbble.com
    desc: Kendall, Florida
  - name: Colin Bell
    position: Chief Technology Officer
    avatar: images/cto.jpg
    socials:
      - icon_class: fa fa-twitter
        url: http://twitter.com
      - icon_class: fa fa-facebook
        url: http://facebook.com
      - icon_class: fa fa-tumblr
        url: http://tumblr.com
    desc: Colorado Springs, Colorado
---

<div class='full'>
  <div class='row'>
    <div class='medium-6 columns'> 
      <h3>Corporate Information</h3>
      <div class='spacing'></div>

      <p>  

D.U.A.S @mericas Inc officially became a  for-profit c-corporation when it submitted articles of incorporation with the Florida Department of State on January 4, 2018. <br><br>
The company headquarters, were moved from Boca Raton, FL to Denver, Colorado in early 
February 2018. <br><br>
<strong> </strong>
      <div class='spacing'></div>
      <div class='spacing'></div>
      <div cl ss='spacing'></div>
<img src=/images/state.jpg/>
      <div class='spacing'></div>

      </p>
    </div>
    <div class='medium-6 columns'>
      <h3> du@s a@mericas specializes in...</h3>
      <div class='spacing'></div>
      <div class='mod modBarGraph'>
        <ul class="bars">
          {% for skill in page.skills %}
            <li>
              <h4 style=''>
                {{skill.title}}
              </h4>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
<div class='two spacing'></div>
<hr>
<div class='two spacing'></div>
<div class='row'>
  <div class='large-12 columns'>
    <h3>Corporate Officers/Directors</h3>
    <div class='spacing'></div>
  </div>
</div>
<div class='row'>
  {% for member in page.members %}
    <div class='small-6 medium-3 large-3 columns'>
      <div class='mod modTeamMember style-2'>
        <div class='member'>
          <img class="avatar" alt="" src="{{site.url}}/{{member.avatar}}" />
          <div class='overlay'>
            <ul class='socials'>
              {% for social in member.socials %}
                <li>
                  <a href='{{social.url}}'>
                    <i class='{{social.icon_class}}'></i>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <h3>{{member.name}}</h3>
        <p class='position'>{{member.position}}</p>
        <p>{{member.desc}}</p>
        <div class='two spacing'></div>
      </div>
    </div>
  {% endfor %}
</div>
<div class='three spacing'></div>
