---
layout: default
section_id: about
skills:
  - title: Cloud computing 
    <!-- percent: 84 -->
  - title: Network & Data Security 
    <!-- percent: 95 -->
  - title: Software Solutions
    <!-- percent: 70 -->
  - title: Digital Marketing & SEO
<!--     percent: 61 -->
members:
  - name: Aslan Varoqua 
    position: Chief Executive Officer 
    desc:
      Aslan Varoqua founded The DUAS @mericas Company in Boca Raton, FL in 2017. He officially became the companies chief executive officer after filing articles of incorporation with the State of Florida. Titles held include Software Engineer, Network Engineer, GIS Analyst, and two seats in the c-suite (CEO DUAS/CTO RC Inc). <br>
      
    avatar: images/@stock/member-1.jpg
    socials:
      - icon_class: fa fa-twitter
        url: http://github.com/aslanvaroqua
      - icon_class: fa fa-facebook
        url: http://facebook.com/aslanvaroqua
  - name: Daniel Veira 
    position: Chief Operations Officer
    desc: Daniel Veira is a seasoned software engineer and is responsible for implementing  business strategy. He is the eyes and ears on the ground and is the c-suite and is also responsible for getting out the company message. His work ensures corporate officers can execute policy effectively.
    avatar: images/@stock/member-2.jpg
    socials:
      - icon_class: fa fa-twitter
        url: http://twitter.com
      - icon_class: fa fa-facebook
        url: http://facebook.com
      - icon_class: fa fa-dribbble
        url: http://dribbble.com
  - name: Colin Bell
    positinon: Chief Technology Officer
    desc: Don't really know much about this guy. Rumor has it he was born in a cave and a product of a botched cloning expirement. He also does things with Robots and likes the "Internet of Things". He plays with Raspberry pies which he later feeds to the robots. 
    avatar: images/@stock/member-3.jpg
    socials:
      - icon_class: fa fa-twitter
        url: http://twitter.com
      - icon_class: fa fa-facebook
        url: http://facebook.com
      - icon_class: fa fa-tumblr
        url: http://tumblr.com
  - name: Lily Whrem
    position: Chief Strategy Officer
    desc:
      Marketing is Life for Lily. She develops company strategy for attracting clients effectively. 
    avatar: images/@stock/member-4.jpg
    socials:
      - icon_class: fa fa-twitter
        url: http://twitter.com
      - icon_class: fa fa-facebook
        url: http://facebook.com
---

<div class='full'>
  <div class='row'>
    <div class='medium-6 columns'> 
      <h3>Our history</h3>
      <div class='spacing'></div>
      <p>  

- DUAS @mericas Inc became a for-profit c-corporation after filing articles of icorporation with the State of Florida. <br><br>
 - The company headquarters eventually relocated to Denver, Colorado in Frbruary 2018. <br><br>

- The company entered profitibility in April 2018. <br><br>
      </p>
    </div>
    <div class='medium-6 columns'>
      <h3>Our skills</h3>
      <div class='spacing'></div>
      <div class='mod modBarGraph'>
        <ul class="bars">
          {% for skill in page.skills %}
            <li>
              <h4 style=''>
                {{skill.title}}
              </h4>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
<div class='two spacing'></div>
<hr>
<div class='two spacing'></div>
<div class='row'>
  <div class='large-12 columns'>
    <h3>The team</h3>
    <div class='spacing'></div>
  </div>
</div>
<div class='row'>
  {% for member in page.members %}
    <div class='small-6 medium-3 large-3 columns'>
      <div class='mod modTeamMember style-2'>
        <div class='member'>
          <img class="avatar" alt="" src="{{site.url}}/{{member.avatar}}" />
          <div class='overlay'>
            <ul class='socials'>
              {% for social in member.socials %}
                <li>
                  <a href='{{social.url}}'>
                    <i class='{{social.icon_class}}'></i>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <h3>{{member.name}}</h3>
        <p class='position'>{{member.position}}</p>
        <p>{{member.desc}}</p>
        <div class='two spacing'></div>
      </div>
    </div>
  {% endfor %}
</div>
<div class='three spacing'></div>
